.banner{
    width: 1205px;
    height: 316px;
    display: flex;
    position: relative;
    margin: 20px auto;
    background: url('./Image/bg__banner.png')no-repeat;
    justify-content: space-evenly;
    align-items: center;
}
.textContent{
    margin: 36px 43px 0 0;
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    color: #fff;
    width: 585px;
    height: 156px;
    justify-content: space-between;
}
.banner__overtitle{
    font-family: 'HK Grotesk';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
}
.banner__title{
    font-weight: 700;
    font-size: 63px;
}
.banner__undertitle{
    font-weight: 600;
    font-size: 30px;
}
.img{
    margin-right: 38px;
}
.arrow{
    width: 70px;
    height: 70px;
    background: #F3F9FB;
    border: 8px solid #FFFFFF;
    position: absolute;
    border-radius: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.arrow.left{
  left: -43px;
}
.arrow.right{
    right: -43px;
}
.arrow::before{
    transform: translateY(2px);
}
.arrow.left::before{
    content: url('./Image/Iconly/Two-tone/Stroke-1.svg');
}
.arrow.right::before{
    content: url('./Image/Iconly/Two-tone/Stroke-1-1.svg');
}
@media (max-width:1230px) {
    .banner{
        transform: scale(0.9);
    }
}